<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Piano</key>
	<dict>
		<key>soundfont</key>
		<string>Grandpno</string>
		<key>preset</key>
		<integer>0</integer>
	</dict>
	<key>E. Piano</key>
	<dict>
		<key>soundfont</key>
		<string>Crysrhod</string>
		<key>preset</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
