<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>short_name</key>
	<string>Rho</string>
	<key>data</key>
	<array>
		<string>22050</string>
		<string>Rhodes C2.caf</string>
		<string>36</string>
		<string>24</string>
		<string>Rhodes G2.caf</string>
		<string>43</string>
		<string>31</string>
		<string>Rhodes C3.caf</string>
		<string>48</string>
		<string>36</string>
		<string>Rhodes E3.caf</string>
		<string>52</string>
		<string>40</string>
		<string>Rhodes C4.caf</string>
		<string>60</string>
		<string>48</string>
		<string>Rhodes G4.caf</string>
		<string>67</string>
		<string>55</string>
		<string>Rhodes C5.caf</string>
		<string>72</string>
		<string>60</string>
		<string>Rhodes G5.caf</string>
		<string>79</string>
		<string>67</string>
		<string>Rhodes C6.caf</string>
		<string>84</string>
		<string>72</string>
		<string>Rhodes G6.caf</string>
		<string>91</string>
		<string>79</string>
		<string>Rhodes C7.caf</string>
		<string>96</string>
		<string>84</string>
		<string>Rhodes G7.caf</string>
		<string>103</string>
		<string>91</string>
		<string>Rhodes C8.caf</string>
		<string>108</string>
		<string>96</string>
	</array>
</dict>
</plist>
